/* Credit: http://www.innowyn.com */

body, html {/*overflow-y:hidden;*/
	    width: 100%;
	    height: 100%;
	    }

body {
    background-color: #ffffff;
    font-family:  'Open Sans', Arial, Helvetice Neue, sans-serif;
    font-size: 12px;
	
	font-weight: 300; 
	font-style: normal; 
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	    width: 100%;
	    height: 100%;
	
}
#faddingBannerDiv{
   /*  width: 100%;
	height: 100%;
   margin-left: 10%;
    margin-right: 10%;
	position: absolute;
  border: 3px solid #ccc; */
}

h1, h2, h3, h4, h5, h6, span, p { font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif; }

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.innowyn_clear {
	clear: both;
}

.nav {
padding-left: 0;
margin-bottom: 0;
list-style: none;
padding-left: 230px;
padding-top: 12px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff !important;
    color: #000 !important;
} 

.height30 {
	height: 30px;
}

.innowyn-top-bar {
    min-height: 20px;
    /*background-color:#eeeeee;*/
}

.innowyn-top-menu {
 min-height: 30px;
background-color: #ffffff;
z-index: 5000;
width: 100%;
border-bottom: 1px solid #ccc;
}

.innowyn-top-menu .navbar-toggle {
    margin-top: 38px;
}

.innowyn-top-menu .navbar-brand {
    padding: 0;
    margin: 10px 0 0 -160px;
}

/* ------ Carousel ----- */

#innowyn-carousel {
    /*background: url('../images/innowyn_carousel_bg.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom:0;
    height: 462px;
}

.main-container{
	width:1000px;
	margin:0 auto;	
}

#innowyn-carousel .carousel-caption {
    z-index: 10;
}

#innowyn-carousel .item {
 /*   height: 500px;*/
}
#innowyn-carousel .carousel-inner > .item > img {
    position: absolute;
    min-width: 100%;
    height: 500px;
    left: 0;
    top: 0;
}

#product-desc{
	width:500px;
	float:left;
}

#product-desc h1{
	margin:0;	
	font-size:23px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
}

#product-desc h4{
	color:#999c9d;	
	font-size:15px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
}

#product-desc p{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
}

#gallery{
	float:left;
}

#innowyn-about ul{
	display:block;
	float:left;	
}

#innowyn-about ul li{
	display:block;
	display:inline;
	float:left;	
	margin-right:80px;
}

#innowyn-about ul li:last-child{
	margin-right:0px;
}

#gallery h2 {
background-color: rgba(102, 159, 220, 0.7);
padding: 18px 0px;
color: #fff;
font-size: 150%;
font-weight: 600;
margin: 0;
width: 253px;
}

.column{
	width:250px;
	float:left;
	margin-right:20px;	
}

@media (min-width: 768px) {
    #innowyn-carousel .carousel-caption p {
        margin-bottom: 20px;
        line-height: 1.4;
        font-size: 21px;
    }

    #innowyn-carousel .carousel-caption {
        padding-bottom: 140px;
        right: 20%;
        left: 20%;
    }
}

@media (max-width: 768px) {
    #innowyn-carousel .carousel-caption {
        padding-bottom: 120px;
    }
}

@media (max-width: 1024px) {
    #innowyn-carousel {
        background: url('../images/innowyn_carousel_bg_s.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow-x: hidden;
        margin-bottom:0;
        height: 500px;
    }
}

/* ------ End of Carousel ----- */

/* ------ Welcome & Slogna ------ */
.innowyn-welcome {
    border-bottom: 1px solid #cccccc;
    min-height: 230px;
}

.innowyn-slogan {
    font-family:  'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 42px;
    margin: 60px 0;
    color: #333333;
}

.innowyn-service {
    margin-bottom: 100px;
    margin-top: 100px;
}

.innowyn-service-item {
    font-family:  'Open Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}


.innowyn-service-item p {
    font-weight: lighter; 
    text-align: justify; 
    margin-top: 25px;
    font-size: 14px;
    color: #929292;
}

.subheader {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin-top: 12px;
    font-size: 12px;
    color: #e67e22;
}


.btn-orange {
    background-color: #ff7600;
    border-bottom:2px solid #d35400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange.active, .open .dropdown-toggle.btn-orange {
    background-color: #d35400;
    color:#ffffff;
}

.btn-green {
    background-color:#2ecc71;
    border-bottom:2px solid #27ae60;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color:#ffffff;
}

.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active, .open .dropdown-toggle.btn-green {
    background-color: #27ae60;
    color:#ffffff;
}

.nav > li > a {
    padding: 0px 20px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #ff7600;
    color:#3469C7 !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
background-color: #F0F0F0;
color:#00ADFF;

}


.nav > li > a {
    color: #929292;font-weight: bold;
}
.navbar-default {
    background-color: transparent;
    border:none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #00ADFF;
color: #fff;
font-weight: bold;
}

.navbar {
    margin-bottom: 0px;
}

.innowyn-service-item-header {
    margin-left: -10px; 
    padding: 16px 20px 20px; 
    font-weight: bold;
    display: inline-block;
}

.innowyn-header-orange {
    background-color:#ff7600;
    min-width: 298px;
    height: 67px;
    color: #fff; 

}

.team_hr {
    border: 1px solid #fff; 
    width: 39.5%; 
    float: left;
}

.team_hr_left {
    margin-right: 30px;
    margin-left: 15px; 
}

.team_hr_right {
    margin-left: 30px;
}

.hr_gray {
    border: 1px solid #cccccc; 
}

.innowyn-team {
   /* background: url('../images/background.png') ; */
    font-family:  'Open Sans', sans-serif;
    min-height:590px;
    color:#000;

}
.innowyn-line-header {
    margin-top:100px;
    margin-bottom:80px;
}

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
}

.member-thumb .thumb-overlay {

background-color: rgba(102, 159, 220, 0.7);
position: absolute;
visibility: hidden;
padding-top: 40%;
padding-left: 0%;
height: 100%;
width: 100%;
/* margin-right: 0; */
opacity: 0;
right: 0;
top: 0;
}

.thumb-overlay a {
    float:left;
    margin-right: 5px;
}



.team-inner {
    margin-top:10px;
}

.team-inner-header {
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    font-size:16px;
}

.team-inner-subtext {
    font-weight:normal;
    font-size:12px;
}

.row_team {
    margin-left:-50px;
    margin-top:70px;
}

.row_team li {
    list-style: none;
}

.innowyn-project-box {
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    height: 200px;
    width: 200px;
}

.innowyn-project-box:hover .project-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.project-overlay {
    background : rgba(0,0,0,.75);
    border : 2px solid #ff7600;
    visibility: hidden;
    position: absolute;
    text-align:center;
    padding-top:40px;
    color: #ffffff;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}


.project-overlay hr {
    width : 70%;
	
}

.innowyn-project-gallery li {
    margin:15px;
}

.txt_darkgrey {
    color: #333333;
}

.txt_orange {
    color: #e67e22;
}

.txt_slogan {
    font-size:14px; 
    color:#929292;
}

.innowyn-line-header span {
    font-size: 18px; 
    float :left; 
    margin-top: 10px;
}

.team_box  div {
    text-align: center; 
    padding-top: 100px;
}

.span_blog {
    margin-bottom: 80px;
}

.blog_post {
    color: #333333; 
    padding: 10px;
}

.blog_header {
    font-weight: bold; 
    font-size: 16px; 
}

.blog_text {
    text-align: justify; 
    font-size: 14px; 
    margin-top: 20px;
}

#innowyn-contact {
	margin-top:100px; 
	border-top: 1px solid #cccccc; 
	font-size:14px;
}
.innowyn-contact-map {
    margin-bottom: 15px;
    height: 378px;

}

.head_contact {
    padding-bottom:80px; 
    margin-bottom:0;
}

.contact_right img {
	margin-right:5px;
}

.contact_right form {
	padding-left:15px;
	padding-right:15px
}

.tweet_txt {
	border-left:2px solid #ffffff; 
	min-height:160px;
}

.twitter_user {
	color: #FFFF33; 
	font-size: 14px;
	float: right;
}

.innowyn-partners {
	border-top: 2px solid #cccccc;
}

.innowyn-partners .innowyn-partner-item {
    margin-bottom: 5px;
}

.innowyn-footer {

	background:url(../image/footer_bg.jpg) repeat-x;
	margin-top: 0px;
	position : relative;
	width : 100%;
	height: 10%;
	padding-top: 15px;
	bottom: 0px;
	left: 0px;
}
.home-footer {

	background:url(../image/footer_bg.jpg) repeat-x;
	margin-top: 0px;
	position : fixed;
	width : 100%;
	height: 10%;
	padding-top: 15px;
	bottom: 0px;
	left: 0px;
	z-index: 5000;
}
.footer_container {
	
	text-align: center;	 
/*	margin-bottom:20px;*/
}

.footer_bottom_content {
	/*margin: auto;*/
	alignment-adjust: auto;
	padding-top: 10px;    
	font-size: 10px;
	color:#333333;
}

.social-icon-fb {
    background: url('../images/social-icon-fb.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-fb {
    background: url('../images/social-icon-fb-over.png') no-repeat;
}

.social-icon-rss {
    background: url('../images/social-icon-rss.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-rss {
    background: url('../images/social-icon-rss-over.png') no-repeat;
}

.social-icon-twitter {
    background: url('../images/social-icon-twitter.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-twitter {
    background: url('../images/social-icon-twitter-over.png') no-repeat;
}

.social-icon-linkedin {
    background: url('../images/social-icon-linkedin.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-linkedin {
    background: url('../images/social-icon-linkedin-over.png') no-repeat;
}

.social-icon-dribbble {
    background: url('../images/social-icon-dribbble.png') no-repeat;
    width: 42px;
    height: 42px;
    display: block;
}

a:hover .social-icon-dribbble {
    background: url('../images/social-icon-dribbble-over.png') no-repeat;
}

ul.innowyn-project-gallery  li  a img:hover {
    border: 3px solid #ff7600;
}

.innowyn-gallery-category a {
	color:#333333; 
}

.innowyn-gallery-category a.active {
	color:#e67e22; 
	text-decoration:none;
}

.innowyn-gallery-category a:focus {
	color:#e67e22;
	text-decoration:none;	
}

.innowyn-gallery-category a:hover {
	color:#e67e22; 
	text-decoration:none;
}

.link_orange:hover {
    text-decoration:none;
}
.innowyn-project-gallery {         
    margin:0 0 0 0;
    margin-top:30px;
    margin-left: -40px;
}
.innowyn-project-gallery li {     
    list-style:none;
    margin-bottom:25px;           
}
.innowyn-project-gallery li img {
  cursor: pointer;
}

.innowyn-tweets {
    background-color: #8996a0;
    min-height:200px;
    font-family:  'Open Sans', sans-serif;
    font-size:20px;
    color:#ffffff;
    margin-top:100px;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-style: italic;
}

.btn_loadmore {
	margin-top:30px; 
	margin-bottom:80px;
}

.blog_box {
	margin-left: -12px;
}

#li-style{
	float:left;	
}

#li-style li{
	display:block;	
	color:#fff;
	font-size:12px;
	padding-bottom:5px;
}

#li-style li a{
	color:#fff;	
	text-decoration:none;
	float:left;
	font-weight:400;
	font-size:12px;
	border-bottom:1px solid rgba(255,255,255,0);
}

#li-style li a:hover{
	border-bottom:1px solid rgba(255,255,255,0.6);	
}

.footer_container h3{
	color: #fff;
/*float: left;*/
font-size: 14px;
font-weight: bold;
/*padding-top: 15px;*/
}

#product-overview{
	width:700px;	
}


#product-overview h2{
	border-bottom:1px solid #000;
	text-align:center;
	font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
	font-weight:bold;
    font-size:20px;
	padding-bottom:20px;
}

#product-overview h3{
	font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
	font-weight:bold;
    font-size:14px;
}

#product-overview ul li{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;	
}

#social-links{
	float:left;	
}
#social-links a{
	float:left;
	margin-right:15px;	
}

#product-views{
	padding-top:20px;
	border: 1px;
}

#product-views img{
	margin-right:10px;
	border: 2px;
}

#add-cart a{
	background:#001745;
	color:#fff;
	font-weight:400;
	font-size:16px;
	padding:10px 15px;
	font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

#add-cart a:hover{
	background:#333;
	text-decoration:none;	
}

.thumb-overlay img{
	opacity:0.9;
}

.product-img-container{
	float:left;	
	margin-right:30px;
	width:400px;
	border: 1px;
}

.modal-body p{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;	
}

.modal-header h4{
		font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
		font-size:20px;
		font-weight:400;

}

@media (min-width:991px) and (max-width:1200px) {
    .innowyn-project-box, .project-overlay {
        height:170px;
        width:170px;
    }

    .innowyn-project-gallery {
        margin-left: -70px;
    }

    .innowyn-service-item-header {
        padding: 16px 10px 20px;
    }

    .innowyn-header-orange {
        min-width: 230px;
    }

    .team_box,  .team_box_over {
        height:220px;
        width:220px;
    }
	
}


@media (max-width:991px) {
    .team-inner {
        margin-top: 20px;
        margin-bottom: 20px;
    }
	
    .innowyn-btn-read-more {
        float:right;
        margin-bottom :40px; 
    }
}


@media (min-width:768px) and (max-width:990px) {
    .member-thumb .thumb-overlay {
        padding-left: 30%;
    }
    .innowyn-project-box , .project-overlay {
       height:130px;
       width:130px;
       padding-top: 0px;
    }

    .innowyn-project-gallery {
       margin-left: 10px; 
    }

    .blog_box{
       margin-right: -140px;
    }
}


@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 9px;
    padding-bottom: 9px;
  } 
}

@media (max-width: 768px) {
    .member-thumb .thumb-overlay {
        padding-left: 40%;
       
    }
    .innowyn-btn-read-more {
            float:right;
            margin-bottom :40px; 
      }
}

@media (max-width: 380px) {
    .member-thumb .thumb-overlay {
            padding-left: 30%;

    }
	.innowyn-service-item-header {
		font-size: 16px;
		
		padding: 23px 10px 22px;
	}
	.innowyn-header-orange {
		min-width: 0px;
	}
	
}

@media (min-width:991px) and (max-width: 1200px) {
	 .team_hr {
		width: 37%; 
	}
}

@media (min-width:683px) and ( max-width: 991px) {
	 .team_hr {
		width: 33%;
	}
}

@media (min-width:585px) and ( max-width: 683px) {
        .member-thumb .thumb-overlay {
            padding-left: 25%;

        }
	 .team_hr {
		width: 30%;
	}
}

@media (min-width:536px) and ( max-width: 585px) {
	 .team_hr {
		width: 28%;
	}
}

@media  (min-width:410px) and  ( max-width: 536px) {
	 .team_hr {
		width: 21%;
	}
}

@media  ( max-width: 410px) {
	 .team_hr {
		width: 11%;
	}
}
